"*":
  core:
    automaticallyUpdate: false
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "38b76a64-1e92-2c01-36d7-667d46cc4fda"
  welcome:
    showOnStartup: false
